/* Global Styles
======================= */
body{
  background-color: #f4daff;
}
a {
  color: #95D9C3;
}
a:hover{
  color: red;
}
.bold{
  font-weight: bold;
}

.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}
.banner{
  background-image: "../images/hops2.jpg"
}
/* Navigation
=======================*/
nav{
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  position:  fixed;
  top: 5px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Banner Image and subtext
=======================*/
.grayscale{
  filter: grayscale(100%);
}
.jumbotext{
  z-index: 1;
  color: #6f2da8;
  font-weight: 600;
  font-size: 30;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  border-bottom: #6f2da8 solid 1px;
}
.subtext{
  z-index: 1;
  color: #6f2da8;
  font-weight: 600;
  font-size: 30;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  fort-family: ;
}

/* Profile image and Summary
======================= */
.profile-img{
  height: 200px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

/* Work Experience
======================= */
.work {
  background: #8AA39B;
  background-image: url('https://picsum.photos/id/1036/4608/3072');
  background-repeat: no-repeat;
  background-size: cover;
  color: #0a070a;
}
.row-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* Education
=======================*/
.education{
  background-image: url('https://picsum.photos/1200/300');
  background-position: center;
  color: black;
}
p + h3{
  margin-top: 30px;
}

/* media queries
=======================*/
@media (min-width: 900px) {
  .col-wide{
    width: 70%;
    float: left;
    min-height: 100px;
  }
  .col-narrow{
    width: 30%;
    float: left;
    min-height: 100px;
  }
}
@media (max-width: 899px) {
  header{
    text-align: center;
  }
  .profile-img{
    width: 250px;
  }
}
